@font-face {
    font-family: 'rdt';
    src: url('../font/rdt.eot?14434942');
    src: url('../font/rdt.eot?14434942#iefix') format('embedded-opentype'),
    url('../font/rdt.woff?14434942') format('woff'),
    url('../font/rdt.ttf?14434942') format('truetype'),
    url('../font/rdt.svg?14434942#rdt') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rdt';
    src: url('../font/rdt.svg?14434942#rdt') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "rdt";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-angle-up:before {
    content: '\e800';
}

/* '' */
.icon-angle-down:before {
    content: '\e801';
}

/* '' */

.rdt-container {
    position: relative;
}

.rdt-container > table {
    position: relative;
}

.rdt-editor {
    position: absolute;
}

.rdt-editor input {
    box-sizing: border-box;
}